name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - main
  schedule:
    - cron: '37 3 15 */5 *'

jobs:

  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "8.2"
          - "8.3"
          - "8.4"

    name: CI PHP ${{ matrix.php-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
          tools: composer:v2

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/composer
          key: composer-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
          restore-keys: |
            composer-${{ matrix.php-version }}-
            composer-

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress ${{ matrix.dependencies }}

      - name: Execute tests
        run: |
          php vendor/bin/phpunit --migrate-configuration || true
          php vendor/bin/phpunit

      - name: Validate composer.json
        run: |
          composer validate --strict
          composer normalize --diff --dry-run
